extends layout

block content
    #card.enc-form
        h1.heading Encrypt
        form#fileUpload(method="POST", action="/do-encrypt", encType="multipart/form-data")
            #select-type.box
                label(id="file-input-radio", class="radio-container") File
                    input(type="radio" checked name="inputMethod", value="file")
                    span(class="checkmark")
                label(id="string-input-radio", class="radio-container") String
                    input(type="radio" name="inputMethod", value="string")
                    span(class="checkmark")
            #file-input.box(style="display:block;")
                input(type="file", name="strFile", accept=".txt")
            #string-input.box(style="display:none;")
                textarea(name="strString", cols="50", rows="10")
            #key-input.box
                input(type="text", name="key", placeholder="please input key")
            input#form-submit(type="submit", value="Encrypt!")
    #card.enc-result(style="display:none;")
        h1 Result
        label(for="result-enc") Encrypted String
        textarea#result-enc(name="result-enc", placeholder="encrypted string")
        label(for="result-key") Key
        input#result-key(name="result-key", type="text", placeholder="key")
    script.
        $('input[type=radio][name=inputMethod]').change(function() {
            if (this.value == 'file') {
                $("#file-input").css({"display":"block"})
                $("#string-input").css({"display":"none"})
            }
            else if (this.value == 'string') {
                $("#file-input").css({"display":"none"})
                $("#string-input").css({"display":"block"})
            }
        })
        $("#fileUpload").submit(function(e) {
            e.preventDefault();
            let form = $("#fileUpload")[0]
            let formData = new FormData(form)

            $("#form-submit").prop("disabled", true);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/do-encrypt",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (res) {
                    console.log(res);
                    $("#card.enc-result").fadeIn(200)
                    $("#form-submit").prop("disabled", false)
                    $("textarea#result-enc").val(res.enc)
                    $("input#result-key").val(res.key)
                },
                error: function (e) {
                    console.log("ERROR : ", e)
                    $("#form-submit").prop("disabled", false)
                }
            })
        });

