extends layout

block content
    #card
        h1.heading Home
        #inline-menu
            a.inline-menu-item(href="/encrypt") Encrypt
            a.inline-menu-item(href="/decrypt") Decrypt
            a.inline-menu-item(href="/decrypt-bruteforce") Decrypt with Brute Force
            a.inline-menu-item(href="/decrypt-pso") Decrypt with PSO
