html
    head
        title VIGCIP | #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    body
        #header 
            #title
                a(href="/")
                    h1 Vigenere Cipher
            #menu
                a(href="/encrypt").menu-item Encrypt
                a(href="/decrypt").menu-item Decrypt
                a(href="/decrypt-bruteforce").menu-item Brute Force Crack
                a(href="/decrypt-pso").menu-item PSO Crack
        #content
            #content-wrapper
                block content